<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<% @products.each_with_index do |product, index| %>
  <div id="<%= dom_id product %>">
    <p><strong>Title:</strong> <%= product.title %></p>
    <p><strong>Description:</strong> <%= product.description %></p>
    <p><strong>Price:</strong> <%= product.price %></p>
    <p><strong>Seller:</strong> <%= product.seller.email %></p>
    <%= link_to "Show this product", product %>

    <div id="paypal-button-container-<%= index %>"></div>

    <script>
      document.addEventListener("turbo:load", function () {
        if (window.paypal) {
          paypal.Buttons({
            createOrder: function (data, actions) {
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: "<%= product.price %>"
                  }
                }]
              });
            },
            onApprove: function (data, actions) {
              return actions.order.capture().then(function (details) {
                alert("Transaction completed by " + details.payer.name.given_name + "!");
              });
            }
          }).render("#paypal-button-container-<%= index %>");
        }
      });
    </script>
  </div>
<% end %>

<%= content_for :paypal do %>
  <script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['paypal_client_id'] %>&currency=USD"></script>
<% end %>

<%= link_to "New product", new_product_path %>
